
a{
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(66, 153, 225, 1);
    color: black;
    border: none;
    margin: 1rem;
    transition: color, background-color .5s ease-in-out;
    cursor: pointer;
    font-size: var(--h6);
    font-weight: 900;
    letter-spacing: 3px;
    border-radius: 3px;
    opacity: .5;
    animation: leftRigth 0.4s ease-in-out infinite alternate-reverse;
}
a:hover{
    color: white;
    background-color: #222222;
}

@keyframes leftRigth {
    from{
        transform: translateX(-10px);

    }
    to{
        transform: translateX(0);
    }
}

.enregistrer{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    tab-size: 4;
    -webkit-font-smoothing: antialiased;
    border: 0 solid #e5e7eb;
    font-feature-settings: inherit;
    font-family: inherit;
    font-variation-settings: inherit;
    text-transform: none;
    cursor: pointer;
    -webkit-appearance: button;
    background-image: none;
    margin: 0 .5rem .5rem 0;
    border-radius: .5rem;
    background-color: #2d9ae3;
    padding: .625rem  1.25rem .625rem  1.25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: rgb(255 255 255/1);
    transition: color, background-color, transform .2s ease-in-out;
}

.enregistrer:hover{
    background-color: #9fa6b3;
    color: white;
    transform: scale(1.1);
}

a{
    margin: 0;
    padding: .5rem;
    font-size: 0.6rem;
    color: rgb(126 13 5);
    z-index: -1;
}
