
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@layer base {
    :root{
        --base-size: 1rem;
        --scale: 1.25;
        --scale-font-size: .2rem;
        --radius: 5px;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);

        /*Font*/
        --sans-serif: sans-serif;

        /*Input*/
        --input-margin-left:9px;
        --input-height: 32px;
        --marge-bottom-input: 10px;

        /*Form*/
        --form-paddind: 10px
    }

    html{
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: var(--base-size);
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 300;
        line-height: 1.3;
    }
    h1{
        font-size: var(--h1);
        line-height: 1;
    }
    h2{
        font-size: var(--h2);
    }

    h3{
        font-size: var(--h3);
    }
    h4{
        font-size: var(--h4);
    }
    h5{
        font-size: var(--h5);
    }
    h6{
        font-size: var(--h6);
    }

/*METHODE 1
    #progress{
        position: sticky;
        top: 0;
        width: 100%;
        height: 10px;
        background-color: blue;
        animation: progress linear forwards;
        animation-timeline: scroll();
    }

}

@keyframes progress {
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
    */

}
/*METHODE 2*/
.scroll-indicator{
    position:fixed;
    top:0;
    height:10px;
    width:0;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    z-index:999;
}
.container{
    max-width: 1280px;
    margin: 5rem auto 0;
}

.header{
    display: flex;
    justify-content: space-around;
    max-width: 82rem;
    margin: 0 auto;
}
.header .text-1{
    /*width: 35%;*/
}

.header .contrat span{
    font-weight: bold;
    font-size: 1.8rem;
}

.header .milieu{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 1rem;
}

.header .contrat{
    text-align: center;
}

.header .text-cerfa{
   /* display: grid;
    grid-template-rows: 1fr 1fr;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.header .self{
    font-weight: bold;
}

.header .header-span{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.header .text{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 158px;

}

.header .contrat-text{
    font-size: 1.3rem;
}

.milieu .lire{
    font-weight: bold;
    font-size: 1.3rem;
}

#form{
    font-family: "Poppins",sans-serif;
    font-size: calc(var(--h6) - var(--scale-font-size));
}
.input-contener{
    padding-top: 20px;
    /*padding-top: 33px; Large Screen*/
    position: relative;
    margin-bottom: var(--form-paddind);
}
.input-contener input[type="text"],.input-contener input[type="tel"], .input-contener input[type="email"],.input-contener input[type="tel"]{
    --webkit-appearance: none;
    appearance: none;
    border: 6px solid #9fa6b3;
    background: #FFFFFF;
    color: #222222;
    outline: none;
    padding: 4px 5px;
    /*padding: 15px 16px;; Large Screen*/
    transition-property: border, padding;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    width: 100%;
    /*padding: 15px 16px;; Large Screen*/
}

.input-contener input[type="text"]:focus, .input-contener input[type="email"]:focus, .input-contener input[type="tel"]:focus{
    padding-bottom: 5px;
    /*padding: 2px; Large Screen*/
    padding-top: 20px;
    /*padding-top: 30px; Large Screen*/
    border-color: #2d9ae3;
}
.input-contener input[type="text"] + label, .input-contener input[type="email"] + label,.input-contener input[type="tel"] + label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9fa6b3;
    padding: 1px 5px;
    /*padding: 5px 20px; Large Screen*/
    transition-property: top, background;
    transition-duration: 500ms;
    transition-timing-function: ease;
}


.input-contener input[type="text"]:focus + label, .input-contener input[type="email"]:focus + label,
.input-contener input[type="tel"]:focus  + label
{
    background-color: #2d9ae3;
    top: 20px;
    /*top: 33px; Large Screen*/
}

#contrat-apparentissage, #apprenti,#maitre-apprentissage, #contat,#laformation, #cadre-reserve,.indication{
    margin: 0 auto;
    max-width: 400px;
}

/*Checkbox*/

input[type="checkbox"]{
    position: relative;
    --webkit-appearance: none;
    appearance: none;
    width: 1.7rem;
    height: 1.1rem;
    border: 2px solid rgba(0, 0, 0, .2);
    color: black;
}
input[type="checkbox"]::before ,input[type="radio"]::before{
    content: "\2714";
    position: absolute;
    font-size: 1em;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    visibility: hidden;

}
input[type="checkbox"]:checked::before , input[type="radio"]:checked::before{
    visibility: visible;

}
input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
}
.content-3-child1{
    display: flex;
    align-items: center;
    padding-top: 0;
}

input[type="checkbox"]:checked{
   content: "\2020";
}
.content-1-child2-el2{
    display: flex;
    justify-content: space-between;
}
.content-1-child2 span{
    display: block;
}
.content-4,.content-3-child2{
    display: flex;
    /*align-items: baseline;*/
}
.content-3-child2-el1{
    padding-top: 0;
    margin: 0;
}
.flex{
    display: flex;
    align-items: center;
}

input[type="radio"]{
    position: relative;
    --webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #9fa6b3;
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
}
.verySmallSize{
    font-size: 0.7rem;
}
/*Apprenti*/
#apprenti .content-7-child2{

}
/*************  FORM *************/
