@layer base {
    :root{
        --base-size: 1rem;
        --scale: 1.25;
        --radius: 5px;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);

        /*Font*/
        --sans-serif: sans-serif;

        /*Input*/
        --input-margin-left:9px;
        --input-height: 32px;
        --marge-bottom-input: 10px;

        /*Form*/
        --form-paddind: 20px
    }

    html{
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: var(--base-size);
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 300;
        line-height: 1.3;
    }
    h1{
        font-size: var(--h1);
        line-height: 1;
    }
    h2{
        font-size: var(--h2);
    }

    h3{
        font-size: var(--h3);
    }
    h4{
        font-size: var(--h4);
    }
    h5{
        font-size: var(--h5);
    }
    h6{
        font-size: var(--h6);
    }

}

.container{
    max-width: 1280px;
    margin: 5rem auto 0;
}

.header{
    display: flex;
    justify-content: space-around;
    max-width: 82rem;
    margin: 0 auto;
}
.header .text-1{
    /*width: 35%;*/
}

.header .contrat span{
    font-weight: bold;
    font-size: 1.8rem;
}

.header .milieu{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 1rem;
}

.header .contrat{
    text-align: center;
}

.header .text-cerfa{
   /* display: grid;
    grid-template-rows: 1fr 1fr;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.header .self{
    font-weight: bold;
}

.header .header-span{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.header .text{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 158px;

}

.header .contrat-text{
    font-size: 1.3rem;
}

.milieu .lire{
    font-weight: bold;
    font-size: 1.3rem;
}


/*************  SECTION-1 *************/
#section-1{
    text-align: center;
}
#section-1 h4{
    font-weight: bold;
    margin: 0;
}

/*************  SECTION-1 *************/



/*************  FORM *************/
#form{
    border: 1px solid red;
    margin: 0 auto;
    max-width: 81.1rem;
    font-size: var(--h4);
}
.bac-employeur, .apprenti-case2, .maitre-case3, .contrat-case4{
    background-color: rgba(0,0,0,.1);
}
.employeur{
    /*font-size: var(--h4);*/
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    max-width: 58rem;
    /*max-width: 49rem;*/
    margin: 0 auto;
    align-items: center;
}



.radio-center-flex{
    display: flex;
    align-items: center;
    gap: .1rem;
}

/*case1*/
.case1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-auto-flow: row;
    padding:5px  var(--form-paddind) 0;
}

.case1 .ligne{
    grid-column: 1/3;
    justify-self: flex-start;

}

 .colonne-gauche .item1{
  display: block;
     font-weight: bold;
}
.colonne-gauche .child3{
  display: flex;
    text-align: start;
}
 .child3 div:nth-child(2){
    display: flex;
     position: relative;
     left: -3rem;
}

.input1-col-gauche{
    /*
    width: 81.2%;
    */
    width: 83.7%;
}
.input2-col-gauche{
    /*width: 48.2%;*/
    width: 51.3%;
}
.input3-col-gauche{
   /* width: 97.2%;*/
    width: 326px;
}

.input4-col-gauche{
   /* width: 66.2%;*/
    width: 68%;
}
.input5-col-gauche{
/*    width: 19.2%;*/
    width: 20%;
}
.input6-col-gauche{
   /* width: 66.2%;*/
    width: 68%;
}
.input7-col-gauche{
   /* width: 43%;*/
    width: 44.1%;
}
.input8-col-gauche{
     width: 51.7%;
}
.input9-col-gauche{
      /*width: 35.1%;*/
    width: 35.7%;
}

.input1-col-droite{
  /*  width: 58.1%;*/
    width: 59.9%;
}
.input2-col-droite{
    width: 12.5%;
}.input3-col-droite{
    width: 4.7%;
}
.input4-col-droite{
  /*  width: 27%;*/
    width: 28%;
}
.input5-col-droite{
   /* width: 27%;*/
    width: 27.8%;
}

.input6-col-droite{
    width: 12.8%;
}
@-moz-document url-prefix() {
    .input1-col-gauche{
        width: 92.4%;
    }
}

.child1, .child2, .child4, .child5, .child6, .child7, .child8{
    text-align: start;
}
.item3{
  text-align: start;
    display: block;
}

.colonne-droite .siretNum, .bold{
    font-weight: bold;
}
.ligne{
    font-size: var(--h5 );
}

.colonne-droite .siretlabel{
    display: block;
}
.colonne-droite .coldroite1, .coldroite2, .coldroite3, .coldroite4, .coldroite5, .coldroite6{
    text-align: start;
}


input[type="text"], input[type="tel"],input[type="number"]{
   background-image: url("images/carre.svg");
    background-position: center center;
    background-repeat:repeat-x;
    border: none;
    height: var(--input-height);
    outline: none;
    font-size: var(--h5);
    padding-inline-start: var(--radius);
    /*margin-left: var(--input-margin-left);*/
}
.coldroite1, .coldroite2, .coldroite3, .coldroite4, .coldroite5, .coldroite6,
.child1, .child3, .child4, .child5, .child6, .child7, .child8,
.case2-ligne-child1,.case2-ligne-child2,.case3-ligne-child3, .case2-colonne1-child1,.case2-colonne1-child3,.case2-colonne1-child4,
.case2-colonne1-child5,.case2-colonne1-child6,.case2-colonne1-child7,.case2-colonne1-child8,.case2-colonne1-child10,.case2-colonne1-child3,
.case2-colonne1-child4,.case2-colonne1-child5,.case2-colonne1-child6,.case2-colonne1-child8,
.case2-colonne2-child1,.case2-colonne2-child2,.case2-colonne2-child3,.case2-colonne2-child4,.case2-colonne2-child5,.case2-colonne2-child6,
.case2-colonne2-child7,.case2-colonne2-child8,.case2-colonne2-child9,.case2-colonne2-child10,.case2-colonne2-child11,.case2-colonne2-child12,
.case3-colonne1-child1, .case3-colonne1-child2, .case3-colonne1-child3, .case3-colonne1-child4, .case3-colonne1-child5, .case3-colonne1-child6,
.case3-colonne1-child7,.case3-colonne1-child8

{
    margin-bottom: var(--marge-bottom-input);
}

input[type="radio"]{
    --webkit-appearance: none;
    appearance: none;
}

input[type="radio"]{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
}

input[type="radio"]::before{
    content: "\2714";
    position: absolute;
    font-size: 1.2em;
    /* right: -1px;
     top: -0.3em;*/
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    visibility: hidden;

}input[type="radio"]:checked::before{
   visibility: visible;

}


input[type="checkbox"]{
    --webkit-appearance: none;
    appearance: none;
}

.ligne input[type="checkbox"]{
    position: relative;
    width: 2em;
    height: 2.1em;
    /*
    border: 1px solid gray;
    */
    border: 2px solid rgba(0, 0, 0, .2);

    color: black;

}
.ligne input[type="checkbox"]::before {
    content: "\2714";
    position: absolute;
    font-size: 1.2em;
   /* right: -1px;
    top: -0.3em;*/
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    visibility: hidden;

}
.ligne input[type="checkbox"]:checked::before {
    visibility: visible;
}
.ligne input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
}

.ligne {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Case2*/
.apprenti-case2{
    font-weight: bold;
}
.case2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:  repeat(2, auto);
    padding: 5px var(--form-paddind) 0;
}
.case2 .ligne{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--h4);
    font-weight: bold;
}
.case2 *, .case3 *, .case3 .ligne{
    text-align: start;
}
.case2 .case2-ligne-child1-input1{
    width: 51.6rem;
}
.case2 .case2-ligne-child2-input2{
    width: 64.3rem;
}
.case2 .case2-ligne-child3-input3{
    width: 39.1rem;
}
.case2 .case2-colonne1-child3{
    display: flex;
}

.case2-colonne1-child1-input1 {
    width: 23.6rem;
}
.case2-colonne1-child3-input2{
    width: 4.7rem;
}

.case2-colonne1-child3-input3{
    width: 26.7rem;
}
.case2-colonne1-child4-input4{
    width: 26.7rem;
}
.case2-colonne1-child5-input5{
    width: 7.9rem;
}
.case2-colonne1-child6-input6{
    width: 26.7rem;
}
.case2-colonne1-child7-input7{
    width: 17.3rem;
}
.case2-colonne1-child8-input8{
    width: 17.3rem;
}.case2-colonne1-child8-input9{
    width: 17.3rem;
}

.case2 .case2-colonne2-child1, .flex,.case2-colonne2-child5{
    display: flex;
}

.case2-colonne1-child9{
    margin: 0;
}

.case2-colonne1-child10-input10{
    width: 39.1rem;
}
.case2-colonne2-child2{
    display: flex;
}
.case2-colonne2-child3-input4{
    width: 5.1rem;
}
.case2-colonne2-child4-input5,.case2-colonne2-child10-input13{
    width: 39.3rem;
}
.case2-colonne2-child5-input6{
    width: 1.6rem;
}
.case2-colonne2-child7-input10,.case2-colonne2-child8-input11,.case2-colonne2-child9-input12,.case2-colonne2-child11-input14{
    width: 5rem;
}
.niveau-sportif{
    position: relative;
    bottom: 1.8rem;
    left: 6rem;
}
.niveau-sportif2{
    position: relative;
    bottom: 1.8rem;
    left: 8.3rem;
}
.niveau-sportif3{
    position: relative;
    bottom: 1.8rem;
    left: 9.2rem;
}
/*End Case2*/


/*End Case3*/
.case3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
}

.case3 .ligne{
    grid-column: 1/3;
}
#ligne{
    justify-content: initial;
}
.case3 .case3-colonne1-child1-input1{
    width: 39.6rem;
}
.case3 .case3-colonne1-child2-input2{
    width: 30.1rem;
}

.case3 .case3-colonne1-child4-input4{
    width: 32.9rem;
}
.case3 .case3-colonne1-child5-input5{
    width: 14.1rem;
}
.case3 .case3-colonne1-child5-input6{
    width: 11.1rem;
}
.case3 .case3-colonne1-child6-input7{
    width: 36.1rem;
}
.case3 .case3-colonne1-child6-input8{
    width: 1.8rem;
}
.attest{
    font-weight: bold;
}

/*End Case3*/

/*End Case4*/
.case4{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.case4-child1{
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
}
.case4-child2{
    grid-column: 4/7;
}
.case4-child2 .rederogation{
    font-size: var(--h5);
}
.case4-child1-input1, case4-child2-input2{
    width: 5.5rem;
}

.case4-child3{
    grid-column: 1/7;
    text-align: start;
}
.case4-child3-input3{
    width: 23.6rem;

}
.case4-child4{
    grid-column: 1/3;
    text-align: start;
}
.case4-child4 p{
    margin: 0;
}.case4-child4 label{
   display: block;
    font-size: var(--h6);
}
 .case4-child5{
     grid-column: 3/5;
 }
  .case4-child5 span{
     display: block;
 }

.case4-child6{
     grid-column: 5/7;
 }

.case4-child7{
    display: flex;
    text-align: start;
    grid-column: 1/3;
    height: fit-content;
}.case4-child7 label{
    display: block;
}
 .case4-child8{
     grid-column: 3/6;
 }.case4-child8 label{
display: block }

/*End Case4*/

/*************  FORM *************/
