@layer base {
    :root{
        --base-size: 1rem;
        --scale: 1.25;
        --radius: 5px;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);

        /*Font*/
        --sans-serif: sans-serif;

        /*Input*/
        --input-margin-left:9px;
        --input-height: 32px;
        --marge-bottom-input: 10px;

        /*Form*/
        --form-paddind: 20px
    }

    html{
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: var(--base-size);
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 300;
        line-height: 1.3;
    }
    h1{
        font-size: var(--h1);
        line-height: 1;
    }
    h2{
        font-size: var(--h2);
    }

    h3{
        font-size: var(--h3);
    }
    h4{
        font-size: var(--h4);
    }
    h5{
        font-size: var(--h5);
    }
    h6{
        font-size: var(--h6);
    }

}


.header{
    display: flex;
    justify-content: space-around;
}
.header .text-1{
    /*width: 35%;*/
}

.header .contrat span{
    font-weight: bold;
    font-size: 1.8rem;
}

.header .milieu{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 1rem;
}

.header .contrat{
    text-align: center;
}

.header .text-cerfa{
   /* display: grid;
    grid-template-rows: 1fr 1fr;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.header .self{
    font-weight: bold;
}

.header .header-span{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.header .text{
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 158px;

}

.header .contrat-text{
    font-size: 1.3rem;
}

.milieu .lire{
    font-weight: bold;
    font-size: 1.3rem;
}


/*************  SECTION-1 *************/
#section-1{
    text-align: center;
}
#section-1 h4{
    font-weight: bold;
    margin: 0;
}

/*************  SECTION-1 *************/



/*************  FORM *************/
#form{
    border: 1px solid red;
    margin: 0 auto;
    max-width: 81.1rem;
    font-size: var(--h4);
}
.bac-employeur{
    background-color: rgba(0,0,0,.1);
}
.employeur{
    /*font-size: var(--h4);*/
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    max-width: 58rem;
    /*max-width: 49rem;*/
    margin: 0 auto;
    align-items: center;
}


input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 25px;
    height: 25px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    /*margin-right: 5px;*/

   /* position: relative;
    top: 4px;*/
    margin-block-start: 0;
}

input:checked {
    border: 5px solid black;
}

.radio-center-flex{
    display: flex;
    align-items: center;
    gap: .1rem;
}

/*case1*/
.case1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-auto-flow: row;
    padding:5px  var(--form-paddind) 0;
}

.case1 .ligne{
    grid-column: 1/3;
    justify-self: flex-start;

}

 .colonne-gauche .item1{
  display: block;
     font-weight: bold;
}
.colonne-gauche .child3{
  display: flex;
    text-align: start;
}
 .child3 div:nth-child(2){
    display: flex;
     position: relative;
     left: -3rem;
}

.input1-col-gauche{
    width: 81.2%;
}
.input2-col-gauche{
    width: 48.2%;
}
.input3-col-gauche{
   /* width: 97.2%;*/
    width: 326px;
}

.input4-col-gauche{
    width: 66.2%;
}
.input5-col-gauche{
    width: 19.2%;
}
.input6-col-gauche{
    width: 66.2%;
}
.input7-col-gauche{
    width: 43%;
}.input8-col-gauche{

     width: 51.5%;
}.input9-col-gauche{
      width: 35.1%;
}

.input1-col-droite{
    width: 58.1%;
}
.input2-col-droite{
    width: 12.5%;
}.input3-col-droite{
    width: 4.7%;
}
.input4-col-droite{
    width: 27%;
}
.input5-col-droite{
    width: 27%;
}

.input6-col-droite{
    width: 12.8%;
}
@-moz-document url-prefix() {
    .input1-col-gauche{
        width: 92.4%;
    }
}

.child1, .child2, .child4, .child5, .child6, .child7, .child8{
    text-align: start;
}
.item3{
  text-align: start;
    display: block;
}

.colonne-droite .siretNum, .bold{
    font-weight: bold;
}
.ligne{
    font-size: var(--h5 );
}

.colonne-droite .siretlabel{
    display: block;
}
.colonne-droite .coldroite1, .coldroite2, .coldroite3, .coldroite4, .coldroite5, .coldroite6{
    text-align: start;
}


input[type="text"], input[type="tel"],input[type="number"]{
   background-image: url("images/carre.svg");
    background-position: center center;
    background-repeat:repeat-x;
    border: none;
    height: var(--input-height);
    outline: none;
    font-size: var(--h5);
    padding-inline-start: var(--radius);
    /*margin-left: var(--input-margin-left);*/
}
.coldroite1, .coldroite2, .coldroite3, .coldroite4, .coldroite5, .coldroite6,
.child1, .child3, .child4, .child5, .child6, .child7, .child8
{
    margin-bottom: var(--marge-bottom-input);
}

/*************  FORM *************/
